.home-container {
  display: flex;
}

.main-content-welcome {
  flex: 1;
  padding: 20px;
}

.artists-section,
.albums-section {
  padding: 20px;
  background-color: rgb(21, 1, 40);
  color: white;
  flex-grow: 1;
  margin: 30px;
}

.center {
  text-align: center;
}

.artist-list,
.album-list {
  display: flex;
  flex-wrap: wrap;
}

.artist,
.album {
  margin: 10px;
  text-align: center;
}

.artist img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.icon-f {
  display: flex;
  justify-content: space-between;
}

.icon-fa {
  color: #f9f9f9;
  border-color: #262222;
}

.icon-fa:hover {
  color: #3b0404;
  border-color: #1d0221;
}

.custom-icon {
  border: 1px solid #ffffff4e;
  border-radius: 50%;
  padding: 5px;
  color: #ffffff;
  transition: border-color 0.3s ease, color 0.3s ease;
}

.custom-icon:hover {
  border-color: #ffffff;
  color: #6f00ff;
}


