.artist {
  text-align: center;
  margin-bottom: 20px;
  flex-basis: 30%;
  max-width: 200px;
}

.artist img {
  border-radius: 50%;
  width: 100%;
  max-width: 100px;
  height: auto;
  object-fit: cover;
}

.artist-name {
  margin-top: 10px;
  font-size: 0.9em;
}

@media (max-width: 768px) {
  .artist {
    flex-basis: 45%;
  }

  .artist img {
    max-width: 80px;
  }

  .artist-name {
    font-size: 0.8em;
  }
}

@media (max-width: 480px) {
  .artist {
    flex-basis: 100%;
  }

  .artist img {
    max-width: 70px;
  }

  .artist-name {
    font-size: 0.7em;
  }
}

.icon-container {
  display: inline-block;
  cursor: pointer;
}

.custom-icon {
  border: 1px solid #ffffff4e;
  border-radius: 50%; /* Corrected from 220% to 50% for circular border */
  padding: 5px;
  color: #ffffff;
  transition: border-color 0.3s ease, color 0.3s ease;
}

.custom-icon:hover {
  border-color: #ffffff;
  color: #6f00ff;
}