.artist {
  text-align: center;
  margin-bottom: 20px;
  flex-basis: 30%;
  max-width: 200px;
}

.artist img {
  border-radius: 50%;
  width: 100%;
  max-width: 100px;
  height: auto;
  object-fit: cover;
}

.artist-name {
  margin-top: 10px;
  font-size: 0.9em;
  color: white;
}

@media (max-width: 768px) {
  .artist {
    flex-basis: 45%;
  }

  .artist img {
    max-width: 80px;
  }

  .artist-name {
    font-size: 0.8em;
  }
}

@media (max-width: 480px) {
  .artist {
    flex-basis: 100%;
  }

  .artist img {
    max-width: 70px;
  }

  .artist-name {
    font-size: 0.7em;
  }
}

.icon-container {
  display: inline-block;
  cursor: pointer;
}
