.header {
  margin-top: 3%;
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
  background-color: #192253;
  color: white;
}

.login {
  margin-left: 20px;
  margin-right: 10px;
  cursor: pointer;
}
.register {
  margin-left: 20px;
  cursor: pointer;
}

.custom-login-button {
  background-color: #b9b9b9;
  color: #ffffff;
  border: 1px solid #707070;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 20px;
}

.custom-login-button:hover {
  background-color: #909090;
  color: #ffffff;
}

.custom-register-button {
  color: #b9b9b9;
  background-color: transparent;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease;
}
.text-crear{
  color: #ffffff;
}
.custom-register-button:hover {
  color: #ffffff;
}
