.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; 
}

.pagination span {
  cursor: pointer;
  padding: 5px 10px; 
}

.pagination .active {
  font-weight: bold;
}

.pagination .icon-container-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination .custom-icon-pag {
  font-size: 16px; 
}
