.sidebar-container {

  display: flex;
  flex-flow: column;
  height: 250px;
  margin: 0%;
  border-radius: 10px;
  justify-content: flex-start;
  height: 50vh;
  padding: 10px;
  color:aliceblue;

}

.sidebar-menu,
.library,
.empty-menu {
  width: 95%;
  background-color:  rgb(21, 1, 40);;
  padding: 20px;
  border-radius: 20px;

}

.library {
  margin-top: 5%;


}

.logo {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.library-item {
  background-color: #4b013d;
  border-radius: 10px;
  padding: 2%;
}

.text-crear {
  font-size: 11px;
}



.menu {
margin-bottom: 3%;
}


@media (max-width: 768px) {
  .sidebar-container {
    height: auto; 
  }

  .sidebar-menu,
  .library,
  .empty-menu {
    padding: 10px; 
    border-radius: 10px; /
  }



  .library-item {
    padding: 1%; 
  }
}
.library-icons{
  margin-bottom: 5%;
}
.empty-menu-color{
  height: 200%;
}
.empty-menu {
  margin-top: 5%;

  
}
.navlink-style {
  color: white;
  text-decoration: none;
}

.navlink-style:hover {
  text-decoration: none;
}
.custom-cerrar-button {
  display: flex;
  justify-content: center;
margin-top: 2%;
  background-color: #b9b9b9;
  color: #ffffff;
  border: 1px solid #707070;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 20px;

}
.custom-cerrar-button:hover {
  background-color: #909090;
  color: #ffffff;
}