.sidebar-container {

  display: flex;
  flex-flow: column;
  height: 250px;
  margin: 0%;
  border-radius: 10px;
  justify-content: flex-start;
  height: 50vh;
  padding: 10px;
}

.sidebar-menu,
.library,
.empty-menu {
  width: 95%;
  background-color: #312559;
  color: white;
  padding: 20px;
  border-radius: 20px;

}

.library {
  margin-top: 5%;


}

.logo {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.library-item {
  background-color: #692c60;
  border-radius: 10px;
  padding: 2%;
}

.text-crear {
  font-size: 11px;
}



.menu {
margin-bottom: 3%;
}


@media (max-width: 768px) {
  .sidebar-container {
    height: auto; 
  }

  .sidebar-menu,
  .library,
  .empty-menu {
    padding: 10px; 
    border-radius: 10px; /
  }

  .logo {
    font-size: 1.2em; 
    margin-bottom: 10px; 
  }

  .library-item {
    padding: 1%; 
  }
}
.library-icons{
  margin-bottom: 5%;
}
.empty-menu-color{
  height: 200%;
}
.empty-menu {
  margin-top: 5%;

  
}