body {
  margin: 0;
  padding: 0;
  background-color: #192253;
  font-weight: bold;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.app {
  display: flex;

}

.main-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}